@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente BMS Humanity Regular */
@font-face {
	font-family: 'BMSHumanity';
	src: url('/fonts/BMSHUMANITY-REGULAR.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
}

/* Quitar margen por defecto del body */
html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'BMSHumanity', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', sans-serif;
}
