@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente BMS Humanity Regular */
@font-face {
	font-family: 'BMSHumanity';
	src: url('/fonts/BMSHUMANITY-REGULAR.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BMSHumanity';
	src: url('/fonts/BMSHUMANITY-BOLD.TTF') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'BMSHumanity';
	src: url('/fonts/BMSHUMANITY-EXTRABOLD.TTF') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BMSHumanity';
	src: url('/fonts/BMSHUMANITY-LIGHT.OTF') format('opentype');
	font-weight: 300;
	font-style: normal;
}

/* Quitar margen por defecto del body */
html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'BMSHumanity', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', sans-serif;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.sickness-select__dropdown-indicator {
	svg {
		fill: #be2bbb;
		stroke: #be2bbb;
	}
}

ul {
	padding-inline-start: 10px;
}

li::marker {
	color: #be2bbb;
}

.tt{
  position:relative;
  cursor:pointer;
  outline:none;
  text-decoration:underline;
  color: #a69f9f;
}

/* tooltip bubble */
.tt__text{
  position:absolute;
  bottom:130%;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:#fff;
  padding:6px 10px;
  border-radius:6px;
  font-size:12px;
  white-space:nowrap;
  opacity:0;
  visibility:hidden;
  transition:opacity .2s;
  z-index:100;
}

/* Desktop hover */
.tt:hover .tt__text{
  opacity:1;
  visibility:visible;
}

/* Mobile tap (focus) */
.tt:focus .tt__text,
.tt:focus-visible .tt__text{
  opacity:1;
  visibility:visible;
}